*.properties

# Maven
target/


# Eclipse files
.classpath
.project
.settings
.vscode/
/workspace/

# IntelliJ Idea files
*.iml
*.ipr
*.iws
*.idea

# Mac
.DS_Store

# Test remnants
objectstore/
.mule/
*.log
temp/
muleEmbeddedDB/
activemq-data/
testdir/
*.h2.db
*.factorypath
/test.sh
